<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity=
        "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="\css\home.css">
    </head>
    <body>
        <div id="heading">
        <i class="fas fa-address-book"></i>
        <span >My Contact List</span>
        </div>
        <ul class="horizontal-list">
            <% for(let i of contact_list){%>
                <li class="contact">
                    <!-- <span class="details">
                    <p><%= i.name %> </p>
                    <p><%= i.phone %> </p>
                    </span>
                    <span class="delete-button">
                        <a href="/delete-contact/?phone=<%= i.phone %>"><i class="fas fa-trash-alt"></i></a>
                    </span> -->
                    <div class="details">
                        <p><%= i.name %> </p>
                        <p><%= i.phone %> </p>
                    </div>
                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i.id %>"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </li>    
            <%}%>
        </ul>

        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="number" name="phone" placeholder="Enter Phone" required>
            <button type="submit">Add</button>
        </form>

        <script type="text/javascript" src="\js\home.js"></script>
    </body>
</html>